@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Playwrite+DK+Loopet:wght@100..400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$primary-color1 : rgb(233, 63, 91);
$cursive-font: "Dancing Script", cursive;
$titilliun-font:"Titillium Web", sans-serif;
$bg-primary: #000000;
$bg-secondary: rgba(0, 0, 0, 0.95);
$secondary-color:#007bff;
$text-color: #333333;
$text-primary: #ffffff;
$text-secondary: #e0e0e0;
$text-Tertialry:#000000;
$transition: all 0.3s ease;


// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1200px;


